<settings>
    <mirrors>
        <mirror>
            <id>central</id>
            <name>Central</name>
            <url>https://repo1.maven.org/maven2/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        <mirror>
            <id>central2</id>
            <name>Maven repo2</name>
            <url>http://maven.org/maven2</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>

    <servers>
        <server>
            <id>maven.oracle.com</id>
            <username>serg.sb@gmail.com</username>
            <!--TODO: chenge to your credentials for https://blogs.oracle.com/dev2dev/get-oracle-jdbc-drivers-and-ucp-from-oracle-maven-repository-without-ides#pom-->
            <password>{ZXtYEL1JyfEHREpOo92uU1Ww6q0HltPT/TtiC3MsB3Q=}</password>
            <configuration>
                <basicAuthScope>
                    <host>ANY</host>
                    <port>ANY</port>
                    <realm>OAM 11g</realm>
                </basicAuthScope>
                <httpConfiguration>
                    <all>
                        <params>
                            <property>
                                <name>http.protocol.allow-circular-redirects</name>
                                <value>%b,true</value>
                            </property>
                        </params>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>
    </servers>
</settings>